body {
    font-family:monospace;
}

.container {
    font-size: 18px;
    font-family: monospace;
    color:black;
}

.item {
    font-size: 16px;
    font-family: monospace;
    color:black;
}

.text-input {
    border: 0;
    margin-left:.5em;
    margin-bottom:.5em;
    padding-left: .5em;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.bluebutton {
    background:#0061ff;
    color: white;
}

.circlebutton {
    margin-right:5px;
    border-radius:100px;
    background:transparent;
    color:#032301;
}

.mybutton {
    border-radius:5px;
    background:transparent;
    color:#032301;
}

.radio-form {
    border-radius:5px;
    padding:4px;
    border:1px dotted #181919;
}